.root {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    font-size: var(--font-xsm);
    font-family: var(--font-unbounded);
    font-weight: 700;
}

.textButton {
    border-radius: var(--spaces-lg);
    color: var(--color-link-gray);
}

.primaryButton {
    border: 2px solid var(--color-primary-bright);
    border-radius: var(--spaces-lg);
    background-color: var(--color-button-bg);
    padding: var(--spaces-smm);
    color: var(--color-white);
}

.secondaryButton {
    border: 2px solid var(--color-primary-bright);
    border-radius: var(--spaces-lg);
    background-color: rgba(var(--color-button-bg), 0.25);
    padding: var(--spaces-md) var(--spaces-lgm);
    color: var(--color-white);
}
