.root {
    width: 100%;
    border-radius: var(--spaces-smm);
    padding: var(--spaces-md);
    background-color: var(--color-bg-dark);
}

.title {
    font-weight: 600;
    font-size: var(--font-sm);
    text-transform: uppercase;
    margin-bottom: var(--spaces-xsm);
}

.text {
    font-weight: 400;
    font-size: var(--font-sm);
    margin-bottom: var(--spaces-lg)
}

.flexBox {
    display: flex;
    justify-content: space-between;
    gap: var(--spaces-xsm)
}

.param {
    font-weight: 400;
    font-size: var(--font-sm);
    margin-bottom: var(--spaces-xsm);
}

.accentParam {
    font-weight: 400;
    font-size: var(--font-sm);
    margin-bottom: var(--spaces-xsm);
    color: var(--color-primary-light);
}
