.root {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: none;
}

.primarySmallIconButton {
    width: 16px;
    height: 16px;
    background-color: transparent;
    color: var(--color-link-gray);
}

.primaryMediumIconButton {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-link-gray);
}

.primaryLargeIconButton {
    width: 64px;
    height: 64px;
    background-color: var(--color-primary-bright);
    color: var(--color-white);
}

.secondarySmallIconButton {
    width: 16px;
    height: 16px;
    background-color: var(--color-white);
    color: var(--color-link-gray);
}

.secondaryMediumIconButton {
    width: 24px;
    height: 24px;
    background-color: var(--color-white);
    color: var(--color-link-gray);
}

.secondaryLargeIconButton {
    width: 64px;
    height: 64px;
    background-color: var(--color-white);
    color: var(--color-link-gray);
}