.app {
  max-width: 100dvw;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  background-color: var(--color-bg-light);
}

.main {
  width: 100%;
  min-height: 100dvh;
}

.homeButton {
  position: fixed;
  bottom: var(--spaces-sm);
  left: var(--spaces-md);
  z-index: 3;
}