.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spaces-xsm);
  border-radius: var(--spaces-smm);
  padding: var(--spaces-smm) var(--spaces-xsm);
  margin: var(--spaces-smm) var(--spaces-xsm);
  margin-left: 0px;
}


.first {
  background: var(--radial-gradient-news-first);
}

.second {
  background: var(--radial-gradient-news-second);
}

.third {
  background: var(--radial-gradient-news-third);
}

.title {
  font-size: var(--font-xsm);
  font-weight: 500;
  font-family: var(--font-unbounded);
}

.img {
  width: 100%;
  aspect-ratio: 1;
}
