.root {
    width: 100%;
    border-radius: var(--spaces-smm);
    padding: var(--spaces-md);
    background-color: var(--color-bg-dark);
}

.flexJustifyBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--spaces-xs);
}

.bonusCountTitle {
    font-weight: 500;
    font-size: var(--font-sm);
    color: var(--color-primary-middle);
}

.bonusCountOrder {
    width: 80px;
    text-align: right;
    margin-bottom: var(--spaces-xsm);
}

.bonusCountBonus {
    font-weight: 400;
    font-size: var(--font-sm);
    color: var(--color-primary-middle);
}
