.currency {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--color-primary-dark);
    font-size: var(--font-smm);
    font-weight: 500;
    font-family: var(--font-unbounded);
}