
.root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: column;
}

.popup {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.popup::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--color-bg-dark);
}
