.root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: column;
  margin-left: var(--spaces-xs);
}

.popup {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(calc(-50% + 4px));
  width: calc(100dvw - 32px);
}

.popup::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--color-bg-dark);
}
