/* _TopNavigation-content */
.container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--spaces-md) var(--spaces-lg) 0;
  background-color: var(--color-bg-light);
  z-index: 999;
}

.headerItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: var(--font-sm);
  text-align: center;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: var(--color-white);
}

.subtitle {
  font-size: var(--font-xsm);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.408px;
  color: var(--color-primary-light);
}
